/*css reset
html, body, nav, div, ul, li, p, a, h1 {
    margin: 0;
    padding: 0;
    reset <p> to same font width: 70%;
    font-family: 'Lato', sans-serif;
}
*/
html {
    background-image: url("../pics/candlesnrose.jpg");
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
body {
    /*background-image: url("../pics/candlesnrose.jpg");*/
    /*background-size: 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    font-family: 'Lato', sans-serif;
}

h1 {
    display: block;
    color: #fff;
    margin: auto;
    width: 10%;
    padding: 0.5em;
    text-shadow: 2px 2px #0f15;
}

#form {
    margin: 1em 3em 3em 3em;
    font-family: 'Lato', sans-serif;
}

/*textarea {*/
/*    margin: auto;*/
/*    width: 65%;*/
/*    height: 15em;*/
/*    padding: 5px;*/
/*    background-color: rgba(225,225,225,0.8);*/
/*    font-family: 'Lato', sans-serif;*/
/*    border-color: transparent;*/
/*}*/

input[type="submit"] {
    /*float: inherit;*/
    margin: auto;
    display: block;
}

textarea, #output {
    display: block;
    margin: auto;
    width: 50%;
    height: 10em;
    border: 1em;
    padding: 1em;
    background-color: rgba(225,225,225,0.8);
    font-family: 'Lato', sans-serif;
    border-color: transparent;
}

#output {
    text-align: center;
    line-height: 150%;
}

#display {
    display: block;
}
