/*css reset*/
html, body, nav, div, ul, li, p, a, h1 {
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: 'Lato', sans-serif;
}

html {
    background-image: url("../pics/candlesnrose.jpg");
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    display: block;
    color: #fff;
    margin: auto;
    width: 4em;
    padding: 0.5em;
    text-shadow: 2px 2px #ff0015;
}

#form {
    margin: 1em 3em 3em 3em;
    font-family: 'Lato', sans-serif;
}

input[type="submit"] {
    /*float: inherit;*/
    margin: auto;
    display: block;
}

textarea {
    display: block;
    margin: auto;
    width: 50%;
    height: 10em;
    border: 1em;
    padding: 1em;
    background-color: rgba(225,225,225,0.8);
    font-family: 'Lato', sans-serif;
    border-color: transparent;
}

#output {
    text-align: center;
    line-height: 150%;
    display: block;
    margin: auto;
    width: 40%;
    height: 14em;
    border: 1em;
    padding: 1em;
    background-color: rgba(225,225,225,0.8);
    font-family: 'Lato', sans-serif;
    border-color: transparent;
}

#display {
    display: block;
}
